
body  {
  margin-top: 100px;
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 100px;
  display:flex;
  flex-direction:column;
  align-items: center;
  
}
h1 {
  color:red;
}


li {
  border-style: ridge;
  width: 300px;
  height: 50px;
  display:flex;
  align-items:center;
  justify-content: flex-start;
}

label {
  margin-right: 40px;

}


textarea {
  
  background-color: transparent;
  margin-top: 20px;
  width: 300px;
}


button {
margin-left: 290px;
width: 60px;
height: 40px;

}


.edit {
  display:flex;
}


.todotext{
  flex-grow:1;
}



input.noterror{
  border-color:green;
}

input.error  {
  border-color:red;
}

.material-icons{
  cursor: pointer;
}

.container {
  position:relative;
  margin-bottom: 25px;
  cursor: default;
  font-size:22px;
  
}

.container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 25px;
      width: 25px;
      
    }

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  margin-left: 5px;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: #2196F3;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}